<header>
    <h1 class="center">Calendário</h1>
    <h2 class="center">Calendário Juliano e Gregoriano</h2>
    <hr>
    <form id="form">
        <label for="">Ano do calendário:</label>
        <input type="number" id="yearChosen">
        <input type="submit" id="confirm"value="Confirmar">
    </form>
</header>

<main>
    <div class="center">
        <div id="error" style="display: none;"></div>
    </div>
    
    <div class="center">
        <div id="conteiner" style="display: none;"></div>
    </div>
</main>