<body>
    <header>
        <div class="center">
            <h1>404</h1>
        </div>
    </header>
    
    <main>
        <div class="center">
            <p>A página que foi requisitada não existe.</p>
        </div>
        <div class="center">
            <a href="/">Ir para o início</a>
        </div>
    </main>
</body>