<header>
    <h1 class="center">Informações</h1>
    <hr><br>
</header>

<body>
    <main>
        <div class="center">
            <a href="/">Ir para o início</a>
        </div>
        <div class="center">
            <div class="info"></div>
        </div>
    </main>
</body>

<script>
    const divInfo = document.querySelector(".info");

    getText();

    async function getText() {
        const read = await fetch("/read");
        const text = await read.text();

        let lines = text.split("\r\n");

        console.log(lines)
        getHTML(lines);
    }

    function getHTML(lines) {
        let htmlText = "";

        lines.forEach((line) => {
            if (line == "") {
                return;
            }

            if (line.slice(0, 1)[0] == "<") {
                return htmlText = htmlText + line;
            }

            if (line.includes("#")) {
                let number = 0;
                let substring = line.split("")

                substring = substring.filter((character) => {
                    if (character == "#") {
                        number++;
                    }
                    return character != "#";
                });

                let text = substring.join("").trim();

                if (number != 0) {
                    return htmlText = htmlText + `
                        <h${number}>${text}</h${number}>
                    `;
                }
            }

            return htmlText = htmlText + `
                <p>${line}</p>
            `;
        });

        divInfo.innerHTML = htmlText;
    }
</script>