:root {
    --color-main-1: #FEFBF4;

    --color-red-1: rgb(172, 0, 0);
    --color-red-2: rgb(187, 53, 53);

    --color-yellow-1: #FFF450;

    --color-gray-1: #505050;
    --color-gray-2: #606060;

    --font-family: serif;
    --font-size: 18px;
}
