#form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 22px 0px;
}

#form div {
    margin: 0 5px;
}

#form input {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

#form input[type="number"] {
    width: 65px;
    margin-right: 15px;
    margin-left: 14px;
    border: 0;
    text-align: center;
    border-bottom: solid 1px;
    background-color: transparent;
}

#form input[type="number"]:focus {
    outline: 0;
}

#form input[type="number"]::-webkit-outer-spin-button,
#form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#form input[type="number"] {
    -moz-appearance: textfield;
}

#form input[type="submit"] {
    padding: 4px;
    font-weight: bold;
    color: var(--color-main-1);
    border: solid 1px black;
    border-radius: 2px;
    background-color: var(--color-gray-1);
}

#form input[type="submit"]:hover {
    background-color: var(--color-gray-2);
}

#yearChosen {
    width: 110px;
}

@media (max-width: 768px) {    
    #form {
        padding: 0 10px;
        justify-content: space-between;
    }


    #form input[type="number"] {
        margin: 0 20px;
    }
}
