body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    background-color: var(--color-main-1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-red-1);
}

hr {
    width: 60%;
}
