<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/img/gregorian_calendar.jpg">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/scripts.js" defer></script>
    <title>Calendário</title>
</head>

<%- include(`./paginas/${body.body}`, { body: body }) %>

<footer>
    <div class="center">
        <p>Calendário | Autor: Mateus Pereira | <a href="/info">Informações</a></p>
    </div>
</footer>

</html>